.tag * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.tag {
	display: inline-flex;
	align-items: center;
	background: var(--color-primary-01);
	border-radius: 9999px;
	font-family: var(--font-family-02);
	font-size: var(--font-size-zee);
	line-height: var(--line-height-medium);
	color: var(--surface-color-11);
}

.tag > p {
	margin-top: 2px;
	margin-right: 12px;
	margin-bottom: 4px;
	margin-left: 12px;
}

.tag.variant--selection > div:last-child {
	display: none;
}

.tag.variant--filter {
	padding-right: 0;
}

.tag.variant--filter > p {
	margin-right: 8px;
}

.tag.variant--filter > div:last-child {
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 9999px;
	cursor: pointer;
}

.tag.variant--filter > div > span {
	width: 8px; /* FIXME: Icone muito pequeno e não condiz com o DS */
	content: url('../../assets/clear_black_24dp.svg');
	filter: invert();
}
