@import url('./variant.css');

.pagination * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*
	FIXME:
	- Variant Basic aceita só 2 digitos
	- No State middle estão aparecendo 4 valores entre as reticencias
	- Lógica do state errada, não leva em consideração o número de páginas
	totais
	- Na variant default o hover não está funcionando
*/