@import url('./theme.css');

.toggle-button * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.toggle-button {
	display: flex;
	
	width: 40px;
	height: 20px;

	border-radius: 10px;

	cursor: pointer;
}

.toggle-button.active {
	justify-content: flex-end;
}

.toggle-button.deactive .toggle {
	width: 20px;
	height: 20px;
	border-width: 1px;
	border-style: solid;
	border-radius: 9999px;
}

.toggle-button.active .toggle {
	width: 20px;
	height: 20px;
	border-width: 1px;
	border-style: solid;
	border-radius: 9999px;
}