.input + .input-message {
	display: none;
}

.input + .input-message.active {
	display: initial;
	margin-top: var(--spacing-mini);
	font-family: var(--font-family-02);
	font-size: var(--font-size-weeny);
	line-height: var(--line-height-medium);
}

.input + .input-message.active.notify {
	color: var(--color-primary-01);
}

.input + .input-message.active.error {
	color: var(--color-secundary-03);
}