@import url('./variant.css');
@import url('./size.css');
@import url('./theme.css');

.button * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.button {
	display: flex;

	align-items: center;
	
	border-radius: 4px;

	gap: 10px; /* FIXME: Espaçamento inexistente no DS */
	
	cursor: pointer;
}
