.button.variant--basic {
	background: none;
	border: none;
	color: var(--color-primary-01);

	font-size: var(--font-size-tiny);
	line-height: var(--line-height-medium);

	font-family: var(--font-family-02);
}
.button.variant--basic:hover {
	text-decoration: underline;
}

.button.variant--basic > span:last-child {
	width: 16px;
	height: 16px;
	content: url('../../assets/arrow_forward_black_24dp.svg');
}

.button {
	border-width: 1px;
	border-style: solid;
}
.button:hover {
	opacity: 90%;
}

.button.variant--secundary {
	border-width: 1px;
	border-style: solid;
}
.button.variant--secundary.invert {
	border-width: 1px;
	border-style: solid;
}
.button.variant--secundary:hover {
	opacity: 90%;
}

.button.variant--tertiary {
	border-width: 1px;
	border-style: solid;
}

.button.variant--danger {
	border-width: 1px;
	border-style: solid;
}
.button.variant--danger:hover {
	opacity: 90%;
}

.button.variant--disable {
	border-width: 1px;
	border-style: solid;
}
.button.variant--disable:hover {
	cursor: not-allowed;
}