@import url('./message.css');
@import url('./theme.css');

.textarea-input * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.textarea-input {
	display: flex;
	align-items: center;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
}

.textarea-input > textarea {
	all: unset;
	width: 100%;
	padding-top: var(--spacing-tiny);
	padding-right: var(--spacing-xxsm);
	padding-bottom: var(--spacing-xxxsm);
	padding-left: var(--spacing-xxsm);
	font-family: var(--font-family-02);
	font-size: var(--font-size-weeny);
	line-height: var(--line-height-medium);
	white-space: pre-wrap;
}

.textarea-input > textarea:focus-within {
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
}

/* 
	TODO: Estilização dos scrolls
*/
