.checkbox {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-mini);
}

.checkbox.alignment--horizontal {
	display: flex;
	flex-direction: row;
	gap: 18px; /* FIXME: Espaçamento inexistente no DS */
}