.checkbox input[type="checkbox"] {
	all: inherit;
	content: url('../../assets/check_box_outline_blank_black_24dp.svg');
}

.checkbox input[type="checkbox"]:checked {
	content: url('../../assets/check_box_black_24dp.svg');
}

.checkbox.variant--rounded input[type="checkbox"] {
	all: inherit;
	content: url('../../assets/radio_button_unchecked_black_24dp.svg');
}

.checkbox.variant--rounded input[type="checkbox"]:checked {
	content: url('../../assets/check_circle_black_24dp.svg');
}