.acorddion .acorddion-body {
	display: none;
}

.acorddion.active .acorddion-body {
	display: inherit;
	font-size: var(--font-size-weeny);
	line-height: var(--line-height-medium);
	font-family: var(--font-family-02);
	color: var(--surface-color-06);
}