.acorddion .acorddion-head {
	width: 100%;
	display: flex;

	font-size: var(--font-size-weeny);
	line-height: var(--line-height-medium);
	font-family: var(--font-family-02);
	color: var(--surface-color-11);

	border-radius: 4px; /* FIXME */
	
	cursor: pointer;
}

/* 
	FIXME
	Deve haver outra abordagem - pois o P depende do usuário, se ele colocar
	h1,h2, etc a estilização não irá funcionar
*/
.acorddion .acorddion-head p {
	width: 100%;
}

.acorddion .acorddion-head > span:last-child {
	width: 20px;
	height: 20px;
	margin-left: var(--spacing-sm);
	content: url('../../assets/expand_more_black_24dp.svg');
	filter: /* --surface-color-07 => #959595 */
		invert(63%) 
		sepia(1%) 
		saturate(0%) 
		hue-rotate(9deg) 
		brightness(94%) 
		contrast(86%); 
}

.acorddion.active .acorddion-head > span:last-child {
	width: 20px;
	height: 20px;
	margin-left: var(--spacing-sm);
	content: url('../../assets/expand_less_black_24dp.svg');
	filter: invert(100%);
}
