.acorddion-title {
	width: 100%;
	font-size: var(--font-size-weeny);
	line-height: var(--line-height-medium);
	font-family: var(--font-family-02);
	color: var(--surface-color-11);
	border-radius: 4px;
	
	cursor: pointer;
}

/* 
	FIXME
	Deve haver outra abordagem - pois o P depende do usuário, se ele colocar
	h1,h2, etc a estilização não irá funcionar
*/
.acorddion-title p {
	width: 100%;
}

.acorddion-title.deactive > span:last-child {
	width: 20px;
	height: 20px;
	margin-left: var(--spacing-sm);
	content: url('../../assets/expand_more_black_24dp.svg');
	filter: /* --surface-color-07 => #959595 */
		invert(63%) 
		sepia(1%) 
		saturate(0%) 
		hue-rotate(9deg) 
		brightness(94%) 
		contrast(86%); 
}

.acorddion-title.active > span:last-child {
	width: 20px;
	height: 20px;
	margin-left: var(--spacing-sm);
	content: url('../../assets/expand_less_black_24dp.svg');
	filter: invert();
}

.acorddion .acorddion-title.size--tiny {
	width: 100%;

	padding-top: var(--spacing-xxxsm);
	padding-right: var(--spacing-xxsm);
	padding-bottom: var(--spacing-xxxsm);
	padding-left: var(--spacing-xxsm);

	display: flex;
}

.acorddion .acorddion-title.size--normal {
	width: 100%;
	
	padding-top: var(--spacing-xxsm);
	padding-right: var(--spacing-sm);
	padding-bottom: var(--spacing-xxsm);
	padding-left: var(--spacing-sm);

	display: flex;
}
