@import url('./variant.css');
@import url('./size.css');
@import url('./theme.css');

/* FIXME: Se o link receber um filho ancor ele não sobrepoe a estilização
do mesmo. */

.link * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.link {
	font-family: var(--font-family-02);
	cursor: pointer;
}
.link:hover {
	text-decoration: underline;
}